.bannerHeader {
    border: 1px solid black;
    padding: 10px;
}

.formContainer {
    border: 1px solid black;
    padding: 15px 15px 10px 10px;
    height: 1gi00px;
        
}

.weatherContainer {
    border: 1px solid black;
    padding: 15px;   

}

.searchResults{
    border: 1px solid black;
    display: grid;
}

.secondaryResults {
    display:grid;
    cursor: pointer;
}

.locationResults{
    cursor: pointer;
}


